build/CMakeFiles
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
releases
*.idx
*.o
*.d
releases/debug/GDEL-DEBUG
.cache
.ccls-cache
build/third-party/*
build/third-party
third-party/libfort/lib